*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: whitesmoke;
    font-family: 'Lemonada', cursive;
    display: flex;
    justify-content: center;

}

#cart{
    /* background-color: red; */
    margin-top: 8rem;
}

table{
    font-size: 1.5rem;
}

th{
    background-color: orange;
    padding: 1rem;
}

td{
    border: 1px solid orange;
    padding: 1rem;

}

th, td, h2{
    text-align: center;
}

h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

input[type='submit']{
    background-color: brown;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 12px;
    font-weight: bold;
}

input[type='submit']:hover{
    background-color: red;
    cursor: pointer
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 2rem;
}

a:hover{
    color: orange;
}

