*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: rgb(249,236,211);
    background: radial-gradient(circle, rgba(249,236,211,1) 0%, rgba(247,247,247,1) 100%); */
    background-color: rgba(0, 0, 0, 0.95);
    font-family: 'Lemonada', cursive;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
nav{
    width: 100%;
    padding: 16px 0px;
    box-shadow: 0 0 30px orange;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: black;
}
.nav-items{
    display: flex;
    justify-content: space-evenly;
    margin-left: 50%;
}
.nav-items li{
    list-style-type: none;
}
.nav-items li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5em;
    padding: 6px 18px;
}
.nav-items li a:hover{
    transition: all .3s;
    color: orange;
}
.nav-items .active a{
    box-shadow: 0 0 0 3px orange;
    border-radius: 20px;
    background-color: orange;
    color: black;
}
.nav-items .active a:hover{
    color: black;
}
#section-1{
    width: 100%;
    height: 80vh;
}
#top{
    width: 3%;
    height: 25vh;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px 30px 0 0;
}
#left{
    width: 100%;
    display: flex;
    align-items: center;
}
#left p{
    background-color: rgba(0, 0, 0, .5);
    font-size: 2.2rem;
    width: 80%;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    box-shadow: 10px 10px 10px orange;
    padding: 12px;
}
#left p::first-letter{
    font-size: 4rem;
    color: orange;
}
.home{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .70) url(https://cdn.pixabay.com/photo/2020/02/18/10/44/orange-4859086_960_720.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home h1{
    font-size: 3.3rem;
    letter-spacing: 8px;
    text-shadow: 10px 15px 10px rgba(0, 0, 0, 0.5);
    color: orange;
}
.title{
    margin-top: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h1{
    color: orange;
    font-size: 3.2rem;
}
.guzior{
    padding: 14px;
    font-size: 1.2rem;
    border-radius: 24px;
    background-color: black;
    color: whitesmoke;
    outline: 4px solid orange;
}
#clock{
    width: 95%;
    text-align: end;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
}
footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 250px;
}
.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    border-bottom: 1px solid orange;
}
.footer-text p{
    font-size: 17px;
    letter-spacing: 2px;
}
.footer-items{
    display: flex;
    width: 50%;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.footer-items a{
    text-decoration: underline dotted 1px;
    color: whitesmoke;
}
#fun-fuct-div{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.80) url(https://cdn.pixabay.com/photo/2014/09/27/13/46/question-mark-463497_960_720.jpg);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fun-fuct-div h1{
    font-size: 3.3rem;
    letter-spacing: 8px;
    text-shadow: 10px 15px 10px rgba(0, 0, 0, 0.5);
    color: orange;
}
#facts-container{
    width: 100%;
    margin-top: 150px;
}
.facts img{
    width: 20%;
}
#facts-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
}
.facts:nth-child(3n+1){
    background-color: gold;
}
.facts{
    width: 45%;
    background-color: orange;
    margin-bottom: 50px;
    padding: 2%;
    border-radius: 50px;
}
.facts h2{
    text-align: center;
    margin-bottom: 2%; 
}
.facts p{
    font-size: 1.3rem;
    margin-left: 2%;
}
.facts div{
    display: flex;
    align-items: center;
}
.facts:hover{
    transform: scale(1.25);
    transition: all .5s;
    background-color: whitesmoke;
    cursor: default;
    color: #000;
}
.text-decorator{
    color: orange;
}
#store{
    margin-top: 80px;
}
#about{
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about p{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 24px;
    color: whitesmoke;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    border: 6px solid orange;
    margin-top: 50px;
}
#about p:hover{
    background-color: rgba(0, 0, 0, 1);
    transition: all .8s;
    cursor: default;
}
#about p:nth-child(odd){
    border-radius: 8px 100px 8px 100px;
}
#about p:nth-child(even){
    border-radius: 100px 8px 100px 8px;
}
#species-container{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 150px;
}
.species{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    padding: 50px;
    clear: both;
}
.species h2{
    color: orange;
}
.species .image{
    width: 300px;
    height: 350px;
    clip-path: circle();
	float: left;
	shape-outside: circle(45%);
    transform: translate(-15%);
    margin-left: 2%;
    
}
.species img{
    width: 100%;
    height: 100%;
}
.species img:hover{
    transform: rotate(360deg);
    transition: all ease 2s;
}
.species p{
    font-size: 1.3rem;
}
.about-background{
    background-image: url(https://cdn.pixabay.com/photo/2020/02/16/10/16/orange-4853051_960_720.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#price-list{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}
#price-list table{
    width: 50%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}
#price-list table .price{
    text-align: center;
}
#price-list table th{
    font-size: 2rem;
}
#price-list table td{
    background-color: orange;
    border: 6px solid black;
    padding: 12px;
    border-radius: 30px;
    text-align: center;
}
#events-background{
    background: rgba(0, 0, 0, 0.5) url(https://cdn.pixabay.com/photo/2018/11/16/19/04/zodiac-3820091_960_720.jpg);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkblue;
    width: 100%;
    height: 100vh;
}
#events-container h1{
    margin-top: -30px;
    margin-bottom: -30px;
}
#events{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
#event{
    width: 35%;
    max-width: 450px;
    margin-top: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    outline: 7px solid orange;
    border-radius: 10px;
    font-size: 1.5rem;
}
#event:hover{
    transform: scale(1.5);
    transition: all .5s;
    cursor: default;
}
#event .time{
    background-color: orange;
    width: 350px;
    height: 150px;
    padding: 24px;
    text-align: center;
    border-radius: 0 50% 50% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#event .time .clock{
    font-size: 3.3rem;
}
#event .place{
    width: 100%;
    text-align: center;
    color: whitesmoke;
}
#tasks{
    width: 100%;
    background-color: rgba(243, 149, 8, 0.8);
}
#task-1,
#task-2,
#task-3{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px 0 20px 0;
}
.test-block{
    width: 200px;
    border: 2px solid rgba(71, 236, 30, 1);
    background: rgba(71, 236, 30, 0.7);
    text-align: center;
    color: #000;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#movies-container{
    width: 100%;
    margin-top: 150px;
    margin-bottom: 100px;
}
#movies{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.movie{
    text-align: center;
    margin-bottom: 150px;
    height: 500px;
}
.movie iframe{
    width: 100%;
    height: 100%;
    border-radius: 50px 50px 50px 50px;
}
.movie figcaption{
    background-color: orange;
    padding: 20px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
    border-radius: 0 0 120px 120px;
}
@media (max-width:767px){
    .nav-items{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
        text-align: center;
    }
    .nav-items li{
        margin-bottom: 10px;
    }
    #section-1{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    #section-1 #left{
        width: 100%;
        margin-top: 80px;
    }
    .facts:hover{
        transform: none;
        background-color: orange;
    }
    .facts:nth-child(3n+1){
        background-color: gold;
    }
    .facts{
        width: 100%;
        flex-wrap: wrap;
    }
    .facts div img{
        width: 20%;
    }
    .facts p{
        margin-left: 5%;
    }
}
@media (min-width:767px) and (max-width:1023px){
    .nav-items{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
        text-align: center;
    }
    .nav-items li{
        margin-bottom: 10px;
    }
    #section-1{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    #section-1 #left{
        width: 100%;
        margin-top: 30px;
    }
    .facts:hover{
        transform: none;
        background-color: orange;
    }
    .facts:nth-child(3n+1){
        background-color: gold;
    }
    .facts{
        width: 100%;
        flex-wrap: wrap;
    }
    .facts div img{
        width: 15%;
    }
    .facts p{
        margin-left: 5%;
    }
}
@media (min-width:1024px) and (max-width: 1440px){
    .nav-items{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #section-1{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    #section-1 #left{
        width: 100%;
    }
    .facts:hover{
        transform: none;
        background-color: orange;
    }
    .facts:nth-child(3n+1){
        background-color: gold;
    }
    .facts{
        width: 47%;
        justify-content: space-between;
    }
    .facts div img{
        width: 25%;
    }
    .facts p{
        margin-left: 5%;
    }
}
@media (min-width: 1441px) and (max-width: 1850px){
    .nav-items{
        margin-left: 46%;
        justify-content: space-evenly;
    }
    #section-1{
        flex-wrap: wrap;
        margin-top: 50px;
    }
    #section-1 #left{
        width: 100%;
    }
    .facts div img{
        width: 20%;
    }
}
@media (min-width:1851px) and (max-width:1920px){
    nav{
        max-width: 1920px;
    }
    #container{
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
}

